.sidebar{
    background-color:#1E1E1E;
    height: 800px;
    width : 6%;
    border-radius: 0px 20px 20px 00px;
}
.sidebar ul li {
list-style: none;
padding-top:50px ;
}
.sidebar ul{
 padding-top: 100px;
}
.sidebar ul li a{
    text-decoration: none;
    color : white ;
}