#reviews h2{
   color : #136989;
   font-weight: bolder;
   font-size: 50px;
}
#reviews .lr {
        
        font-size: 190px;
        font-weight: bolder;
        margin-top: -80px;
        color : grey ; 
        opacity : 0.1;
}